html, body,
div, span,
h1, h2, h3, h4, h5, h6,
p, pre, q, blockquote,
a, img,
dl, dt, dd, ol, ul, li,
caption, label, legend, fieldset, form,
input, select, textarea,
em, bold, i, strong {
  margin: 0;
  padding: 0;
	border: 0 none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1.24;
	color: #fff;
  font-size: 14px;
  background: #222;
}
a:link, a:visited {
  color: #c00;
  text-decoration: none;
}
a:hover, a:active {
  color: #896;
  text-decoration: underline;
}
a, input, select, textarea {
  outline: 0;
  resize: none;
}
ol, ul {
	list-style: none outside;
}
li{
  list-style-position: outside;
}

caption {
	text-align: left;
	font-weight: normal;
}


/* ======================================== */
p {
  margin: 0px 10px 10px 0px;
  line-height: 1.25
}

.shell{
  width: 700px;
  background: #000 url(./img/bg.jpg) no-repeat scroll center 270px;
  -moz-box-shadow: 0px 0px 12px #000;
  -webkit-box-shadow: 0px 0px 12px #000;
  box-shadow: 0px 0px 12px  #000;
  margin: 0px auto;
  display: block;
  font-family: Sans-Serif;
}

h2{
  font-size: 36px;
  text-align: center;
  line-height: 2em;
  font-family: 'Miltonian Tattoo', cursive;
}

.nav{
  overflow: hidden;
}
a.navImg{
  display: block;
  float: left;
  height: 210px;
  text-align: center;
  font-family: 'Miltonian Tattoo', cursive;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
a.home{
  background: transparent url(./img/home.png) no-repeat left top;
  width: 90px;
  margin-right: 5px;
}
a.tattoos{
  background: transparent url(./img/tattoos.png) no-repeat left top;
  width: 160px;
  margin:0px 5px;
}
a.merch{
  background: transparent url(./img/merch.png) no-repeat left top;
  width: 160px;
  margin:0px 5px;
}
a.contact{
  background: transparent url(./img/contact.png) no-repeat left top;
  width: 160px;
  margin:0px 5px;
}
a.links{
  background: transparent url(./img/links.png) no-repeat left top;
  width: 90px;
  margin-left:5px;
}
.nav a.active {
  cursor: default;
}
.nav a.active,
.nav a:hover,
.nav a:active{
  color: #4b5726;
  text-decoration: none;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
  background-position: right top;
}

.homeImg{
  float: left;
}
.bodycopy{
  margin-left: 244px;
}
.bodycopy p {
  letter-spacing: 2px;
}

p.sig{
  text-align: right;
}

.column{
  float: left;
  width: 340px;
  display: block;
}
.column div{
  line-height: 35px;
}
.contactLeft{
  width: 340px;
  text-align: right;
  padding-right: 10px;
}
.contactRight{
  width: 340px;
  padding-left: 10px;
}
.column input,
.column select,
.column textarea{
  width: 200px;
  padding: 2px;
}
.column textarea{
  height: 150px;
  padding: 5px;
}
.column #thumbs{
  height: 356px;
  overflow: hidden;
}

.buttons{
  text-align: center;
}
.buttons input{
  padding: 5px;
  cursor: pointer;
}
.mandatory{
  margin-right: 10px;
  font-size: 10px;
  text-align: right;
}

.outerLinks{
  width: 584px;
  margin: 0px auto;
}
.outerLinks li{
  margin-bottom: 10px;
}

.footer{
  text-align: center;
  padding: 5px;
  background: #831618;
}
.footer p,
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active{
  color: #fff;
  font-size: 10px;
}
.clusterBox{
  background-color: #4b5726;
  overflow: hidden;
  max-height: 105px;
  border-top: 10px solid #831618;
}
.imgCluster{
  float: left;
  display: block;
  height: 35px;
  width: 35px;
}

.category{
  overflow: hidden;
  width: 652px;
  margin: 0px auto 10px auto;
}
.category li{
  float: right;
  margin: 0;
}
.category a{
  display: block;
  width: 120px;
  height: 400px;
  background: transparent url(./img/categories.png) no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 0 #4b5726, 0 0 10px #4b5726, 0 0 20px #4b5726;
  border: 4px solid #4b5726;
  margin: 16px;
  font-family: 'Miltonian Tattoo', cursive;
  text-decoration: none;
  font-size: 50px;
}
.category a span{
  line-height: 120px;
  white-space: nowrap;
  display:none;
  width: 400px;
  position: relative;
  top: 140px;
  left: -140px;
  text-align: center;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
  color: #4b5726;
  border-radius: 16px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.category a:hover span{
  display:block;
  background: rgba(131,22,24,.5);
}
a.black-and-grey{
  background-position: 0 0;
}
a.color{
  background-position: -124px 0;
}
a.in-progress{
  background-position: -248px 0;
}
a.my-photos{
  background-position: -372px 0;
}
.breadCrumb{
  overflow: hidden;
  margin-bottom:10px;
  background-color:rgba(0,0,0,.25);
}
.breadCrumb li{
  line-height: 1.6;
}
.crumb{
  padding-right: 9px;
  padding-left: 10px;
  border-right: 2px solid #4b5726;
  float: right;
  font-weight: bold;
}
.crumb.last{
  border: none;
}
.crumb a{
  font-family: 'Miltonian Tattoo', cursive;
  font-size: 16px;
  font-weight: normal;
}
.crumb.active a{
  color: #4b5726;
  text-decoration: none;
  cursor: text;
}

.galleryHeader{
  font-family: 'Miltonian', cursive;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: .1em;
  text-shadow: 0 0 8px #f00,  0 0 10px #f00,  0 0 15px #4b5726;
}
.imgViewer{
  overflow: hidden;
  margin:0px auto 10px;
  width: 680px;
}
.smallCol{
  width:180px;
  background-color: #831618;
  background-color: rgba(131,22,24,.5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#831618), to(#000));
  background: -webkit-linear-gradient(top, #831618, #000);
  background: -moz-linear-gradient(top, #831618, #000);
  background: -ms-linear-gradient(top, #831618, #000);
  background: -o-linear-gradient(top, #831618, #000);
  overflow: hidden;
}
.largeCol{
  width:500px;
  height: 500px;
  text-align: center;
}
.largeCol img{
  border: 1px solid #4B5726;
  box-shadow: 0 0 20px #4B5726,  0 0 20px #4B5726,  0 0 20px #4B5726;
}
.thumbNail{
  float: left;
  width: 50px;
  height: 50px;
  margin: 4px;
  overflow: hidden;
  border: 1px solid #fff;
  background: #4B5726;
}
.thumbNail .selected{
  opacity: .25;
}
.thumbNail.blank{
  border: 1px solid transparent;
  background:transparent;
}
.nextPrev{
  clear:left;
}
.prev,
.next{
  height: 0px;
  width: 0px;
  margin: 10px;
}
.prev{
  float: left;
  border-color: transparent #831618 transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
}
.next{
  float: right;
  border-color: transparent transparent transparent #831618;
  border-style: solid;
  border-width: 10px 0 10px 10px;
}
.prev.hide,
.next.hide{
  visibility: hidden;
}

.imgName{
  text-align: center;
}

.merchImgTmp{
  display: block;
  margin: 0px auto;
}

#imageViewer{
  text-align: center;
}